{% extends "user/layout.html" %}

{% block title%} - Register {% endblock %} 
{% block listed %} {% endblock %}

{% block partners %} {% endblock %}

{% block say %} {% endblock %}
{% block ul %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0 cen">
    <li class="nav-item rrm">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item mrr">
    <a class="nav-link" href="/rent/">Rent</a>
    </li>
    <li class="nav-item mmrr">
    <a class="nav-link" href="/buy/">Buy</a>
    </li>
    <li class="nav-item mmr">
    <a class="nav-link " href="/shortlet/">Shortlet</a>
    </li>
{% endblock %}

{% block link %}
<body class="body">
<a href="/login/" class="pro btn btn-danger m-1" >
    <h6 class="navbar-brand prof ">Login</h6>
</a>
{% endblock %}
{% block carousel %}
    <div class="row">
        <div class="col-md-12 fully">
                
            <div class=" js1">
                
                <div class="dol">
                <h3 class="ded" id="lol"> Register </h3>
            </div>
            {% set message = get_flashed_messages(with_categories=True) %}
                {% if message %}
                  {% for msg,cat in message %}
                    {% if cat == "errormsg" %}
                      <div class="alert alert-danger alat">{{ msg }}</div>
                    {% else%}
                    <div class="alert alert-success alat">{{ msg }}</div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <div class="sd2" id="register" >
                <div class="form" >
                    

                    <form class="in clos2 " action="/register/" method="post" id="regform" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="clop cdc">
                            <input class="inpu ip ip1 fname" name="firstname" type="text" placeholder="Firstname">
                            <input class="inpu ip ip2 lname" name="lastname" type="text" placeholder="Lastname">
                        </div>
                        <!-- <div class="clop">
                            <input class="inpu inup date" type="date">
                        </div> -->
                        <div class="clop">
                            <input class="inpu inup number" name="number" type="text" placeholder="Mobile Number">
                        </div>

                        <div class="clop">
                            <input class="inpu inup emaile" name="email" type="email" placeholder="Email Address">
                        </div>
                        <div class="clop">
                            <select class="inpu inup ii1 select" name="select" id="">
                                <option  value="Select User type">Select User type</option>
                                <option value="Landlord">Landlord</option>
                                <option value="Agent">Agent</option>
                                <option value="Tenant">Tenant</option>
                                <option value="Real Estate Agent">Real Estate Agent</option>
                            </select>
                        </div>

                        

                        <div class="clop">
                            <input class="inpu inup passi" name="password" type="password" placeholder="Password">
                        </div>

                        <div class="clop">
                            <input class="inpu inup confirm" name="cpassword" type="password" placeholder="Confirm Password">
                        </div>

                        <div class="clop">
                            <button class="bbtn">Register</button>
                        </div>
                        <div class="clo">
                            <a href="/login/">Already have an account? Login</a>
                        </div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
<!-- <script src="jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#loli").addClass("color")
        $("#loli").click(function(){
            $("#reri").removeClass("color")
            $("#loli").addClass("color")

            $(".clos2").slideToggle()
            $(".clos1").slideDown(500)
            $(".clos2").hide()
        })
        $("#reri").click(function(){
            $("#loli").removeClass("color")
            $("#reri").addClass("color")

            $(".clos1").slideToggle()
            $(".clos2").slideDown(500)
            $(".clos1").hide()
        })


        $("#logform").submit(function(event){
            var user = $(".email").val();
            var pass = $(".pass").val();

            if(user == "" || pass == ""){
                $(".alert1").show()
                $(".alert1").text("All fields required")
                $(".alert1").addClass("text-danger")

                event.preventDefault();
            }


            })
        



        $("#regform").submit(function(event){

    
            var fname = $(".fname").val();
            var lname = $(".lname").val();
            var number = $(".number").val();
            var date = $(".date").val();
            var select = $(".select").val();
            var confirm = $(".confirm").val();
            var password = $(".passi").val();
            var emal = $(".emaile").val();
            if((fname == "") || (lname == "") || (select == "Select User type") || (number == "") || (date == "")|| (password == "")|| (confirm == "") || (emal == "")){
                $(".alert2").show()
                $(".alert2").text("All fields required")
                $(".alert2").addClass("text-danger")

                event.preventDefault();
            }


            if((select == "Select User type")){
                $(".alert2").show()
                $(".alert2").text("Select User type")
                $(".alert2").addClass("text-danger")

                event.preventDefault();
            }

            if((password != confirm)){
                $(".alert2").show()
                $(".alert2").text("Passwords are not the same")
                $(".alert2").addClass("text-danger")

                event.preventDefault();
            }
        })


            

    })
</script> -->
{% endblock %}